Happy new year!

MyOwnDB.com wishes you the best for 2007, and looks forward to deliver enhancements
to further ease your data management. 

Thanks again for your interest and support.

--
MyOwnDB Web Database: http://www.myowndb.com
