/* CSS Document */
input:focus, textarea:focus {
	border: 1px solid #69C;
}
input, select, textarea, button {
	border: 1px solid #036;
}
.submit, button, form a, .button_style a {
	height: 1.8em; 
	border: 1px solid #666;
	color: #666;
	background-color: #FFF;
	font-weight: bold;
}
form a:hover, .button_style a:hover, .submit:hover, button:hover  {
	border: 1px solid #036;
	color: #FFF;
	background-color: #69C;
}
H1 {
	font-family: "Arial Black", arial, sans-serif;
    font-size : 15px;
    /*font-style: italic;*/
    height: 1.5em;
    color : #FFF;
    background: #69F url(../images/bckg/h1.png) repeat-x top;
    padding: 3px 0 0 20px;
    margin: 5px 0;
	border: solid 1px #036;
}
#entity_details li {
	border-bottom: 1px dotted #9CF;
	margin: 3px 0;
	cursor: move;
}
#hd {
	border-bottom: 1px solid #666;
	height: 2em;
	line-height: 2em;
	background-color: #CCC;
	background: #E5E5E5 url(../images/bckg/topbar.png) repeat-x top;
	text-align: right;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10000;
}
body > #hd {
	position: fixed;
}
div#hd {
	/* IE5.5+/Win - this is more specific than the IE 5.0 version */
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

#menu {
	background-color: #369;
	background: #69C url(../images/bckg/menu.png) repeat-x top;
/*	margin: 0 10px 10px;
	padding: 5px;
	float: left;  */
	border: 1px solid #E5E7E9;
	text-align: left;
/*	width: 20%;  */
	color: #CC9;
	text-transform: capitalize;
/*	position: relative;*/
}
.activeDB th, .inactiveDB th { 
	position: relative;
	border: 0;
	padding-right: 45px;
}
.activeDB td, .inactiveDB td { 
	position: relative;
	border: 0;
	padding: 5px 3px;
	padding-right: 45px;
}
.inactiveDB {
	filter:alpha(opacity=50);
	position: relative;
        width: 100%;
	float: left;
}
span.menu_action {
	position: absolute;
	bottom: 0.5em;
	right: 9px;
	/*loat: right;*/
}
#content {
	margin: 0px;
	width: 73%;
}
#content div, #content td  {
	line-height: 18px;
}
/*addition_form_div*/
.icon {
	border: 0;
	cursor: pointer;
	vertical-align: text-bottom;
  padding: 0px;
}
.action_cell img, .icon img, .icon:hover, img.action_cell {
	width: 1.5em;
	height: 1.5em;
	border: 0;
	background-color: #FFF;
}
/* ATTENTION! Pour les sites multilingues, ne pas hard-coder des messages dans la CSS!
  J'ai dupliqué le meme design avec un span.
*/
#xhr_message {
	position : absolute;
	top: 2px;  right: 2px;
	background : red;
	font-weight : bold;
	color : white;
	padding-left : 3px;
	padding-right : 3px;
	z-index: 20000;
}
