/* CSS Document */
input[type="submit"], button, form a, .button_style a {
	border: 1px solid #666;
	color: #666;
	background-color: #FFF;
	font-weight: bold;
}
form a, .button_style a {
	text-decoration: none;
	padding: 1px 8px;
	cursor: default;
}
form a:hover, .button_style a:hover, input[type="submit"]:hover, button:hover  {
	border: 1px solid #036;
	color: #FFF;
	background-color: #69C;
}
H1 {
    font-family: "Arial Black", arial, sans-serif;
    font-size : 15px;
    font-style: italic;
    height: 1.5em;
    color : #FFF;
    background: url(../images/bckg/h1.png);
    padding: 3px 0 0 20px;
    margin: 5px 0;
	border: solid 1px #036;
}
li[id] {
	border-bottom: 1px dotted #9CF;
	margin: 3px 0;
	cursor: move;
}
#hd {
	border-bottom: 1px solid #666;
	height: 2em;
	line-height: 2em;
	background-color: #CCC;
	background: #E5E5E5 url(../images/bckg/topbar.png) repeat-x top;
	text-align: right;
	vertical-align: middle;
	position:fixed;
	top: 0px;
	width: 100%;
	z-index: 10000;
}

#menu {
	background-color: #369;
	background: #69C url(../images/bckg/menu.png) repeat-x top;
/*      margin: 0 10px 10px;
	padding: 5px;
*/
	float: left;
	border: 1px solid #E5E7E9;
	text-align: left;
/*	width: 15em; */
	color: #CC9;
	text-transform: capitalize;
	position: relative;
}
.activeDB td, .inactiveDB td { 
	padding: 5px 3px;
}
.activeDB {
	opacity: 1;
}

.inactiveDB {
	opacity: .5;
}
span.menu_action {
	position: absolute;
	right: 9px;
}
#content {
	padding: 0em 0.5em 1em 18em;
	margin: 0px;
}
#content > * {
	line-height: 18px;
}
/*addition_form_div*/
.icon {
	border: 0;
	cursor: pointer;
	vertical-align: sub;
  padding: 0px;
	
}
.icon:hover {
	background-color: #FFF;
}
.action_cell img, .icon img, img.icon,  .icon:hover, img.action_cell {
	width: 1.5em;
	height: 1.5em;
	border: 0;
}
/* ATTENTION! Pour les sites multilingues, ne pas hard-coder des messages dans la CSS!
  J'ai dupliqué le meme design avec un span.
*/
#xhr_message {
  position : fixed;
  float: right;
  top: 2px;  right: 2px;
  background : red;
  font-weight : bold;
  color : white;
  padding-left : 3px;
  padding-right : 3px;
	z-index: 20000;
}
