<%= @name %>,

<%= t("madb_mail_password_change_intro", {:lang => @language })%>

<%=t("madb_login", {:lang => @language } )%>:    <%= @login %>
<%=t("madb_password", :lang => @language)%>: <%= @password %>
 
<%= @url %>

<%= t("madb_mail_outro", {:lang => @language })%>

