<%= @name %>,

<%= t "forgotten_password_mail_intro", :lang => @lang %>

<%=t("madb_login", {:lang => @lang})%>:    <%= @login %>
<%= t("madb_password", {:lang => @lang})%>: <%= @password %>
 
<%= t("madb_forgotten_password_mail_outro", {:lang => @lang}) %>

<%= @url %>

<%= t("madb_mail_outro", {:lang => @lang })%>
