<%= t "madb_welcome_to_myowndb_paying_account", :lang => @lang %>

<%= t "madb_your_login_information_is", :lang => @lang %>:

<%=t "madb_login", :lang => @lang%>:    <%= @login %>

<%= t("madb_we_have_received_your_first_payment_and_account_is_activated.", :lang => @lang)%>
<%= @url %>

<%= t("madb_mail_outro", {:lang => @lang })%>
