<p>
  <b><%= t("madb_login")%>:</b> <%=h @users.login %>
</p>
<p>
<b><%= t("madb_user_type")%>:</b> <%=h(t(@users.user_type.name)) %>
</p>
<p>
<b><%= t("madb_firstname")%>:</b> <%=h(@users.firstname) %>
</p>
<p>
<b><%= t("madb_lastname")%>:</b> <%=h(@users.lastname) %>
</p>
<p>
<b><%= t("madb_user_verified")%>:</b> <%=h(t(@users.verified? ? "madb_yes":"madb_no")) %>
</p>

<%= link_to t('madb_back'), :action => 'list' %>
<%= link_to t('madb_edit'), :action => 'edit', :id => params["id"] %>
