<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= t("madb_madb")%>::<%= @title%></title>
<% if (RAILS_ENV=="test" and request.env["HTTP_USER_AGENT"].nil?) or request.env["HTTP_USER_AGENT"].include?("MSIE")%>
<%= stylesheet_link_tag 'ie' %>
<% else %>
<%= stylesheet_link_tag 'mozilla' %>
<% end%>

<%=# stylesheet_link_tag 'yui-container' 
%>
<%=# javascript_include_tag "yui-yahoo" 
%>
<%=# javascript_include_tag "yui-event" 
%>
<%=# javascript_include_tag "yui-dom" 
%>
<%=# javascript_include_tag "yui-container" 
%>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/container/assets/skins/sam/container.css">
<!-- js -->
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.5.2/build/yahoo-dom-event/yahoo-dom-event.js&2.5.2/build/animation/animation-min.js&2.5.2/build/connection/connection-min.js&2.5.2/build/container/container-min.js&2.5.2/build/selector/selector-beta-min.js&2.5.2/build/element/element-beta-min.js"></script>

<%= javascript_include_tag :defaults %>

<%= javascript_include_tag "fat" %>
<%= javascript_include_tag "scriptaculous" %>
<%= javascript_include_tag "madb" %>
<%= javascript_include_tag "gau" %>
</head>
<body>

<div id="container">
<div id="xhr_message"></div>

<!-- <div id="header"><h1><span>MyOwnDB</span></h1></div> -->
<div id="content_public">
<%= @content_for_layout %>
</div>
<div id="footer"></div>
</div>
<%if flash["error"]%>
	<script type="text/javascript">
	alert("<%=flash["error"]%>");
	</script>
<% end %>
</body>
</html>

