<% require 'pp' %>

Impossible to verify a Paypal payment.

<%= @message%>

IPN (transaction <%= @ipn.params["txn_id"]%>)
------------------------------------------------
<% for key, value in @ipn.params -%>
  * <%= key %>: <%= value.to_s.strip %>
  <% end -%>



Environment
----------------
<% for key, value in request.env -%>
  * <%= key %>: <%= value.to_s.strip %>
  <% end -%>

